html, body {
  background-color: #2c3e50;
font-family: 'Open Sans', sans-serif;
}

.stuff h2 {
    font-size: 66px;
    text-transform: uppercase;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 70px;
    margin-right: 30px;
}

ul li {
    display: inline;
    margin: 0 20px;
}

ul li:hover {
  cursor: pointer;
}

.column40 {
    width: 40%;
text-align: right;
    }

.column55 {
    width: 55%;
}

.column40 img, .column55 img {
  width: 100%;
}



.flex-horizontal {
    -webkit-flex-direction: row;

}

#video {
  width: 989px;
  height: 551px;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  height: 100%;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  position: relative;
  width: 100%;
}
.container section {
  width: 100%;
  height: 100vh;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: #000;
}
.container section:nth-child(1) .image {
  background-image: url(https://images.unsplash.com/photo-1463412855783-af97e375664b?iq=100&fm=jpg&w=1000);
}
.container section:nth-child(2) .image {
  /*background-image: url(https://images.unsplash.com/photo-1462819067004-905a72ea3996?iq=100&fm=jpg&w=1000);*/
  background-color: white;
}
.container section:nth-child(3) .image {
  background-image: url(https://images.unsplash.com/photo-1461770354136-8f58567b617a?iq=100&fm=jpg&w=1000);
}
.container section:nth-child(4) .image {
  /*background-image: url(https://images.unsplash.com/photo-1461080639469-66d73688fb21?iq=100&fm=jpg&w=1000);*/
  background-color: white;

}
.container section:nth-child(5) .image {
  background-image: url(https://images.unsplash.com/photo-1460804198264-011ca89eaa43?iq=100&fm=jpg&w=1000);
}
.container section:nth-child(6) .image {
  /*background-image: url(https://images.unsplash.com/photo-1463123081488-789f998ac9c4?iq=100&fm=jpg&w=1000);*/
  background-color: white;
}

.container section:nth-child(7) .image {
    background-image: url(https://images.unsplash.com/photo-1463123081488-789f998ac9c4?iq=100&fm=jpg&w=1000);

}



.container section .image, .container section .textbox {
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 500;
}

.column-text {
    text-align:left;
}

.container section .stuff {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  height: 100%;
  width: 100%;
  max-width: 70%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  z-index: 1000;
  color: #2f2f2f;
  margin: 0 auto;
  font-size: 26px;
  position: relative;
}
.container section .stuff h2 {
  margin: 0 0 10% 0;
}
/*.container section .stuff:before, .container section .stuff:after {
  width: 100%;
  height: 1px;
  display: block;
  background-color: #d35400;
  content: "";
  margin: 30px 0;
}*/

.at-twitter {
  position: fixed;
  right: 20px;
  bottom: 20px;
  color: #f1c40f;
  z-index: 5000;
}
.at-twitter:visited {
  color: #f1c40f;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover, a:focus {
  color: inherit;
  text-decoration: underline;
}

.sticky {
  position: fixed;
  z-index: 9999;
  width: 100%;

}

header {
    width: 100%;
    height: 70px;
    position:absolute;
    z-index: 10000;
    left: 0;
    top: 0;
    background-color: white;
    -webkit-box-shadow: 2px -3px 40px 0px rgba(148,148,148,1);
    -moz-box-shadow: 2px -3px 40px 0px rgba(148,148,148,1);
    box-shadow: 2px -3px 40px 0px rgba(148,148,148,1);
  /*padding: 10px 30px;*/
}

#logo {
    float:left;
    height: 50px;
    margin: 10px 30px;
}

header h1 {
    line-height: 26px;
    font-size: 25px;
    margin: 7px 0 0 0;
}

.pull-right {
    float:right;
}

.pull-left {
    float:left;
}

@media only screen and (max-width: 1350px) {
    .stuff h2 {
      font-size: 40px;
    }
}


@media only screen and (max-width: 700px) {
    .container section .stuff {
      font-size: 15px;
    }

    .stuff h2 {
      font-size: 30px;
    }

    .column40 img, .column55 img {
      margin: 20px 0;
    }
}

@media only screen and (max-width: 570px) {
    .column40, .column55 {
      width: 100% !important;
    }
}
/*
@media only screen and (max-width: 467px) {
    #webtitle {
      display: none;
    }
}*/
